{% extends "base.html" %}
{% block title %}{{ film.title }}{% endblock %}

{% block right_panel %}Film '{{ film.title }}'{% endblock %}

{% block content %}
    <div class="t_card">
        <article class="film">
                <h1>{{ film.title }}</h1>
                    <div class="movie-body">
                        <img src="{{ film.image_url }}" alt="{{ film.title }}" width="200" class="poster">
                        <div class="movie-info">

                            <div class="ratings">
                                <span class="rating kp">{{ film.age_rating }}</span>
                                <span class="rating imdb">IMDB {{ film.rating }}</span>
                            </div>

                            <ul class="movie-meta">
                                <li>Year: <span>{{ film.release_year }}</span></li>
                                <li>Genre: <span>{{ film.genre }}</span></li>
                                <li>Duration: <span>{{ film.length }} min</span></li>
                            </ul>

                            <h3 id="descr"><b>Description:</b></h3>

                            <div class="description">
                                <hr>
                                {{ film.description }}
                                <hr>
                            </div>
                        </div>
                    </div>
            </article>
        {% if film.trailer_key %}

            <h2 id="watch_trailer">Watch Trailer</h2>
            <div class="trailer-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ film.trailer_key }}" title="Trailer for {{ film.title }}" frameborder="0" allowfullscreen></iframe>
                {% else %}
                <p>Trailer not available.</p>
            {% endif %}
            </div>
    </div>
{% endblock %}